<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.blog.mapper.TagMapper">

    <delete id="deleteByUserId">
       DELETE
       FROM
           tag
       WHERE
           user_id = #{value}
    </delete>

    <select id="findByPostId" resultType="com.example.blog.entity.Tag">
        SELECT
            t.id,
            t.tag_name,
            t.create_time
        FROM
            tag t,
            post_tag_ref r
        WHERE
            r.post_id = #{value}
            AND r.tag_id = t.id
            AND t.del_flag = 0
            AND r.del_flag = 0
    </select>

    <select id="findAllWithCount" resultType="com.example.blog.entity.Tag">
        SELECT
            t.id,
            t.tag_name,
            t.create_time,
            count( * )  count
        FROM
            `post_tag_ref`r,
            `tag` t
        WHERE
            t.id = r.tag_id
            AND t.del_flag = 0
            AND r.del_flag = 0
        GROUP BY
            r.tag_id
        ORDER BY
            count DESC
        LIMIT #{value}
  </select>


    <select id="findTagNotUse" resultType="com.example.blog.entity.Tag">
      SELECT
          t.id,
          t.tag_name,
          t.user_id,
          t.create_time
      FROM
          tag t
      WHERE
          t.id NOT IN ( SELECT DISTINCT ( r.tag_id ) FROM post_tag_ref r WHERE r.del_flag = 0)
          AND t.del_flag = 0
  </select>

    <select id="getHotTags" resultType="com.example.blog.entity.Tag">
        SELECT
        t.id,
        t.tag_name,
        (select count(r.post_id) from post_tag_ref r, post p where p.id = r.post_id and p.post_status = 0 and r.tag_id = t.id AND r.del_flag = 0 and p.del_flag = 0 ) count
        FROM
        tag t
        WHERE
        t.del_flag = 0
        <if test="keywords != null and keywords != ''">
            AND t.tag_name LIKE CONCAT('%', #{keywords} ,'%')
        </if>
        ORDER BY count DESC
        LIMIT #{limit}
    </select>

</mapper>